/* You can add global styles to this file, and also import other style files */
@use 'app/shared/style/style.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Convert p-4 to simple CSS */
.p-4 {
  padding: 1rem;
}

/* Convert rounded-lg to simple CSS */
.rounded-lg {
  border-radius: 1rem;
}

/* Convert flex to simple CSS */
.flex {
  display: flex;
}

/* Convert items-center to simple CSS */
.items-center {
  align-items: center;
}

/* Convert justify-center to simple CSS */
.justify-center {
  justify-content: center;
}

/* Convert h-32 to simple CSS */
.h-32 {
  height: 8rem;
}

/* Convert w-64 to simple CSS */
.w-64 {
  width: 16rem;
}
